<nav class="navbar navbar-expand-lg navbar-light" style="background-color: bisque;">
    <a class="navbar-brand" href="#">Symbiosi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"   routerLink="/add">AddPlayer <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="/list">ListPlayer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="/adduser">AddUsers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="/booking">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="/add-driver">add driver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="/show-driver">show driver</a>
        </li>


        <li class="nav-item">
        <div *ngIf="isLoggedIn">
          <button (click)="logout()">Logout</button>
        </div>
      </li>

        
      </ul>
     
    </div>
  </nav>
  <!-- app.component.html or any other component HTML -->
<app-map></app-map>

